.card{
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    border: black 2px solid;
    width: 100px;
    border-radius: 10px;
    gap: 8px;
}

.name{
    font-size: 20px;
    margin: 0 auto;
}

.online{
    color: green;
    margin: 0 auto;
}

.offline{
    color:red;
    margin: 0 auto;
}